doctype html
html
    head
        title Franklin Frank
        link(rel="stylesheet", href="/stylesheet/style.css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
body
canvas#follow
.clock
  .circle
    img(src='/images/face.jpg', alt='Not found')
.header
  .icon
  .icon
  .icon
.links
  .home Home
  .home About
  .home Contant
  .home Projects
.rapper
  #hardCover.cover
    h1 Biography
    p This the the body of the card or what ever u call it!
  #sideCover.cover
    h1 cover
    p This the the body of the card or what ever u call it!
.rapper1
  .cover(style='color:transparent;')
    h1 cover
    p This the the body of the card or what ever u call it!
  #sideCover1.cover
    h1 Franklin frank
    p Web developer, Designer, and Enterprenuer
script(src="/javascript/index.js")